<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>支付宝电脑网站支付</title>
<style>

</style>
</head>
<body text=#000000 bgColor="#ffffff" leftMargin=0 topMargin=4>
	
	<div id="main">
		
		<form name=tradequery action=ocr method=post enctype="multipart/form-data" target="_blank">
			orc识别图片:<input type="file" name="file">
			<button>提交</button>
		</form>
		
	</div>
</body>
<script language="javascript">
	
</script>
</html>